/*________________________________________*/
@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------*/

body{
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
}
h2{
  font-size: 45px;
  margin-bottom: 50px;
}
h3{
  font-size: 42px;
  margin-bottom: 30px;
}
h4{
  font-size: 40px;
  margin-bottom: 60px;
}
h2, h3, h4{
  font-weight: 200;

}
h2 span, h3 span, h4 span{
  font-weight: 900;
}
p{
  font-size: 15.57px;
  line-height: 28px;
}
a, input, textarea{
  font-size: 16.57px;
}
a{
  display: block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 50px;
  max-width: 210px;
  text-align: center;

}
.span{
  display: block;
}
.grid-item-beige a{
  border-color: #000;
  color: #000;
}
button{
  display: block;
  background-image: url(../img/menu/burger.png);
  background-color: transparent;
  border: none;
  width: 33px;
  height: 29px;
  margin-bottom: 75px;
}
.form{
  max-width: 620px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*margin-bottom: 95px;*/
}
.form input, .form textarea{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 18px 15px;
}
.form input:hover, .form textarea:hover{
  background-color: rgba(255,255,255, 0.3);
}
.form input:focus::placeholder, .form textarea:focus::placeholder{
  font-size: 0;
}
.form input{
  width: 49%;
}
.form textarea{
  width: 100%;
  min-height: 124px;
}


/*Placeholders*/

.form input::-webkit-input-placeholder, 
.form textarea::-webkit-input-placeholder{
  color: #fff;
}
.form input::-moz-placeholder, 
.form textarea::-moz-placeholder{
  color: #fffb;
}
.form input:-moz-placeholder, 
.form textarea:-moz-placeholder{
  color: #fff;
}
.form input:-ms-input-placeholder, 
.form textarea::-ms-input-placeholder{
  color: #fff;
}


.grid{
   display: grid;
    grid-template-areas: 

        "a a a a a a b b b"
        "c c c c d d d d d"
        "c c c c e e e e e"
        "f f f g g g g g g"; 
}


/*Backgrounds*/

.grid-item-bg{
  background-image: url(../img/background/section-1.jpg);
  grid-area: a;
}
.grid-item-gray{
  background-color: #f3f3f3;
  grid-area: b;
}
.grid-item-blue{
  background-image: url(../img/background/section-3.jpg);
  grid-area: c;
}
.grid-item-beige{
  background-image: url(../img/background/section-4.jpg);
  grid-area: d;
}
.grid-item-black{
  background-image: url(../img/background/section-5.jpg);
  grid-area: e;
}
.grid-item-human{
  background-image: url(../img/background/section-6.jpg);
  grid-area: f;
  min-height: 715px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 /* flex-wrap: wrap;
  align-content: space-between;*/
}
.grid-item-green{
  background-image: url(../img/background/section-7.jpg);
  grid-area: g;
  min-height: 715px;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-item-bg, .grid-item-blue, .grid-item-beige, .grid-item-black, .grid-item-human, .grid-item-green{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.grid-item-gray, .grid-item-blue, .grid-item-beige, .grid-item-black, .grid-item-human, .grid-item-green{
  padding: 60px 55px 70px;
}
.grid-item-blue,.grid-item-black, .grid-item-human, .grid-item-green{
  color: #fff;
}
.grid-item-blue>div{
  margin-bottom: 70px;
}

.list{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.list>li{
  margin-right: 10px;
}
.list>li>a{
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: block;
  border: none;
  margin-top: 25px;
}
.list>li>a.list-fb{
  background-image: url(../img/social/facebook.png);
}
.list>li>a.list-dr{
  background-image: url(../img/social/dribble.png);
}
.list>li>a.list-tw{
  background-image: url(../img/social/twitter.png);
}
.logo{
  display: block;
  width: 90px;
  height: 90px;
  margin-bottom: 25px;
  background-image: url(../img/logotype/logo.png);
  background-repeat: no-repeat;
}

/*Медиа*/

@media(max-width: 1000px){
  h2, h3, h4 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  p{
    font-size: 13px;
  }
  button{
    margin-bottom: 35px;
  }
  .grid-item-gray, .grid-item-blue, .grid-item-beige, .grid-item-black, .grid-item-human, .grid-item-green{
  padding: 55px 55px 35px;
  }
  .grid-item-blue>div{
    margin-bottom: 40px;
  }
  .grid-item-blue>div:last-child{
    margin-bottom: 20px;
  }
  .span{
    display: inline;
  }
}
@media(max-width: 767px){
  .grid{
    grid-template-areas: 
    "a"
    "b" 
    "c"
    "d"
    "e"
    "f"
    "g";
  }

  .grid-item-bg{
    display: none;
  }
  .grid-item-gray, .grid-item-blue, .grid-item-beige, .grid-item-black, .grid-item-human, .grid-item-green{
  padding: 50px 55px 25px;
}
  .grid-item-human, .grid-item-green{
    min-height: 0;
  }
  h2, h4 {
    text-align: center;
    font-size: 26px;

  }
  .grid-item > a{
    margin: 30px auto 0;
  }
  .grid-item-green>div:last-child{
    margin: 0 auto;
  }
  .grid-item-green{
    text-align: center;
  }
  .form{
    margin: 0 auto;
  }
  .list{
    justify-content: center;
    margin-bottom: 30px;
  }
   .form input, .form textarea{
  font-size: 13px;
}
  .grid-item-human>div{
    margin: 0 auto;
  }
  .logo{
    margin: 0 auto 10px;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-bottom: 10px;
  }
  h3{
    font-size: 22px;
    margin-bottom: 0px;
  }

}
@media(max-width: 450px){
  .grid-item{
    padding: 45px 40px;
  }
  .form{
    flex-direction: column;
    max-width: 260px;
  }
  .form input{
    width: 100%;
  }
}